/** @format */

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	width: 100%;
}

#main {
	width: 100%;
	position: relative;
}
/* cursor styling */
#cursor {
	height: 0.8vw;
	width: 0.8vw;
	position: absolute;
	z-index: 99999999;
	background-color: #f2e205;
	border-radius: 50%;
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
	pointer-events: none;
}
#cursor1 {
	height: 0.6vw;
	width: 0.6vw;
	position: absolute;
	z-index: 99999999;
	background-color: #b9f80d;
	border-radius: 50%;
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

/* LOADER */
#main #loader {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: salmon;
	height: 100vh;
	width: 100%;
	font-family: Gloss And Bloom, Gilroy, "Times New Roman", Times, serif;
	letter-spacing: 1.7vw;
	background: linear-gradient(80deg, #110e1f, #1b1730);
	position: fixed;
	overflow: hidden;
	z-index: 9999;
	top: 0%;
	left: 0%;
	color: #d2006b;
	display: none;
}

.loader {
	-webkit-perspective: 700px;
	perspective: 700px;
}

.loader > span {
	font-size: 130px;
	/* font-family: "franklin gothic medium", sans-serif; */
	display: inline-block;
	animation: flip 2.6s infinite linear;
	transform-origin: 0 70%;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}

.loader > span:nth-child(even) {
	color: white;
}

.loader > span:nth-child(2) {
	animation-delay: 0.3s;
}

.loader > span:nth-child(3) {
	animation-delay: 0.6s;
}

.loader > span:nth-child(4) {
	animation-delay: 0.9s;
}

.loader > span:nth-child(5) {
	animation-delay: 1.2s;
}

.loader > span:nth-child(6) {
	animation-delay: 1.5s;
}

.loader > span:nth-child(7) {
	animation-delay: 1.8s;
}
/* loader keyframe flip */
@keyframes flip {
	35% {
		transform: rotateX(360deg);
	}
	100% {
		transform: rotatex(360deg);
	}
}

/* navbar styling */
#main #header {
	width: 100%;
	/* background-color: red; */
}
#navbar {
	height: 10vh;
	width: 100%;
	position: fixed;
	top: 0%;
	left: 0%;
	/* background-color: black; */
	z-index: 2999;
	display: flex;
}

#navbar #brand {
	width: 30%;
	height: 100%;
	padding: 0 2vw;
	/* background-color: antiquewhite; */
}
#brand #logo-cover {
	width: 30%;
	height: 180%;
	background-color: transparent;
	/* position: relative; */
	/* background-color: #000; */
	/* background-image: linear-gradient(#e700a1, #d753f3); */
	object-fit: cover;
}
#logo-cover img {
	width: 100%;
	height: 100%;
}
#navbar #nav-links {
	width: 70%;
	position: relative;
	top: 0%;
	height: 100%;
	/* background-color: blue; */
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
#nav-links a {
	text-decoration: none;
	color: #fff;
	font-size: 1.4vw;
	padding-bottom: 0.2vw;
	font-weight: 700;
}
#nav-links a:hover {
	border-bottom: 0.13vw solid blue;
}
/* main div */
#maindiv {
	width: 100%;
}
/* home page */
#maindiv #home {
	height: 175vh;
	width: 100%;
	background-color: #2d2420;
	border-top: 0.001px solid transparent;
}
#home #topcnt {
	height: 55%;
	width: 80%;
	background-color: #d2006b;
	margin: 8vw auto 0% auto;
	position: relative;
}
#topcnt #headingtxt {
	position: absolute;
	top: 23%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 6;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 55vh;
	/* width: 80vw; */
}
#headingtxt .elem {
	height: 55vh;
	width: 19.8vw;
	/* background-color: red; */
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	/* pointer-events: none; */
}
.elem h1 {
	font-size: 4vw;
	font-family: Gloss And Bloom, Gilroy, Times;
	font-weight: 900;
	-webkit-text-stroke: 2px #fef3f8;
	color: transparent;
	pointer-events: none;
	mix-blend-mode: difference;
}
.elem img {
	position: absolute;
	height: 16vw;
	width: 16vw;
	border-radius: 50%;
	z-index: -1;
	transform: scale(0);
	pointer-events: none;
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
	opacity: 0;
}
.elem .overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0%;
	background-color: #00000000;
}

/* #topcnt p {
	font-size: 4vw;
	font-weight: 900;
	position: absolute;
	white-space: nowrap;
	top: 2%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 5;
	color: transparent;
	/* color: #eceff1; 
	font-family: Gloss And Bloom;
	letter-spacing: 0.23vw;
	-webkit-text-stroke: 1px #eceff1;
} */

/* swiper js code styling starts */
.swiper {
	width: 100%;
	height: 100%;
	pointer-events: none;
	/* background-color: blue; */
}
.swiper .swiper-wrapper .swiper-slide {
	height: 100%;
	width: 100%;
	/* background-color: red; */
	object-fit: 100% 50%;
	object-position: bottom;
}
.swiper-slide img {
	width: 100%;
	height: 100%;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
	right: 20px;
	left: auto;
	top: 60%;
	pointer-events: all;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
	left: 10px;
	right: auto;
	top: 60%;
	pointer-events: all;
}
/* swiper js styling ends */

#home #btmcnt {
	height: 30%;
	width: 80%;
	/* background-color: #d20022; */
	margin: 0vw auto 0vw auto;
	padding: 1vw 0vw;
	position: relative;
}
#btmcnt #cardiv {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2vw;
	/* background-color: blue; */
	/* position: relative; */
}
#cardiv .cards {
	/* position: absolute; */
	height: 100%;
	width: calc(100% / 4);
	background-color: yellow;
	z-index: 4;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-size: cover;
	background-position: center;
	border-radius: 4vw;
}
#cardiv .cards:hover {
	position: relative;
	top: -25%;
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 3s;
}
#cardiv #card1 {
	background-image: url(./images/card1bg.jpeg);
}
#cardiv #card2 {
	background-image: url(./images/restaurent1.jpg);
}
#cardiv #card3 {
	background-image: url(./images/table.jpg);
}
#cardiv #card4 {
	background-image: url(./images/foodorder.jpg);
	/* position: relative;
	top: -25%; */
}
