/** @format */
:root {
	--glow-color: hsl(186 100% 69%);
	/* --glow-color: hsl(126 90% 69%); */
	/* --glow-color: hsl(26 90% 69%); */
}
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	width: 100%;
}

#main {
	width: 100%;
	position: relative;
	background-color: #2d2420;
}
/* cursor styling */
#cursor {
	height: 0.8vw;
	width: 0.8vw;
	position: absolute;
	z-index: 99999999;
	background-color: #f2e205;
	border-radius: 50%;
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
	pointer-events: none;
}
#cursor1 {
	height: 0.6vw;
	width: 0.6vw;
	position: absolute;
	pointer-events: none;
	z-index: 99999999;
	background-color: #b9f80d;
	border-radius: 50%;
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
}

/* LOADER */
#main #loader {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: salmon;
	height: 100vh;
	width: 100%;
	font-family: Gloss And Bloom, Gilroy, "Times New Roman", Times, serif;
	letter-spacing: 1.7vw;
	background: linear-gradient(80deg, #110e1f, #1b1730);
	position: fixed;
	overflow: hidden;
	z-index: 9999;
	top: 0%;
	left: 0%;
	color: #d2006b;
	/* display: none; */
}

.loader {
	-webkit-perspective: 700px;
	perspective: 700px;
}

.loader > span {
	font-size: 130px;
	/* font-family: "franklin gothic medium", sans-serif; */
	display: inline-block;
	animation: flip 2.6s infinite linear;
	transform-origin: 0 70%;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}

.loader > span:nth-child(even) {
	color: white;
}

.loader > span:nth-child(2) {
	animation-delay: 0.3s;
}

.loader > span:nth-child(3) {
	animation-delay: 0.6s;
}

.loader > span:nth-child(4) {
	animation-delay: 0.9s;
}

.loader > span:nth-child(5) {
	animation-delay: 1.2s;
}

.loader > span:nth-child(6) {
	animation-delay: 1.5s;
}

.loader > span:nth-child(7) {
	animation-delay: 1.8s;
}
/* loader keyframe flip */
@keyframes flip {
	35% {
		transform: rotateX(360deg);
	}
	100% {
		transform: rotatex(360deg);
	}
}

/* navbar styling */
#main #header {
	width: 100%;
	/* background-color: red; */
}
#navbar {
	height: 10vh;
	width: 100%;
	position: fixed;
	top: 0%;
	left: 0%;
	/* background-color: black; */
	z-index: 2999;
	display: flex;
}

#navbar #brand {
	width: 30%;
	height: 100%;
	padding: 0 2vw;
	/* background-color: antiquewhite; */
}
#brand #logo-cover {
	width: 30%;
	height: 180%;
	background-color: transparent;
	/* position: relative; */
	/* background-color: #000; */
	/* background-image: linear-gradient(#e700a1, #d753f3); */
	object-fit: cover;
}
#logo-cover img {
	width: 100%;
	height: 100%;
}
#navbar #nav-links {
	width: 70%;
	position: relative;
	top: 0%;
	height: 100%;
	/* background-color: blue; */
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
#nav-links a {
	text-decoration: none;
	color: #fff;
	font-size: 1.4vw;
	padding-bottom: 0.2vw;
	font-weight: 700;
}
#nav-links a:hover {
	border-bottom: 0.13vw solid blue;
}
/* main div */
#maindiv {
	width: 100%;
	position: relative;
	/* background-color: #2d2420; */
}
#theme {
	position: fixed;
	top: 50%;
	right: 0%;
	transform: translate(0, -50%);
	height: 70vh;
	width: 5%;
	background-color: grey;
	z-index: 99;
	border-top-left-radius: 8vw;
	border-bottom-left-radius: 8vw;
	display: flex;
	flex-direction: column;
	font-size: 4vw;
	align-items: center;
	justify-content: space-around;
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
}
#handle {
	height: 7vw;
	width: 1.8vw;
	position: fixed;
	top: 50%;
	z-index: 9999;
	right: 5%;
	transform: translate(0%, -50%);
	background-color: pink;
	border-top-left-radius: 6vw;
	border-bottom-left-radius: 6vw;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
#handle h1 {
	font-size: 0.8vw;
	white-space: nowrap;
	font-weight: 900;
	color: #222;
	transform-origin: 50% 50%;
	transform: rotate(-90deg);
}
/* home page */
#maindiv #home {
	height: 175vh;
	width: 100%;
	/* background-color: #2d2420; */
	border-top: 0.001px solid transparent;
	/* position: relative; */
}
#home #topcnt {
	height: 55%;
	width: 80%;
	/* background-color: #d2006b; */
	margin: 8vw auto 1vw auto;
	position: relative;
}

#headingtxt {
	position: absolute;
	top: 73%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 6;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 55vh;
	/* background-color: red; */
	/* width: 80vw; */
}
#home #txtcnt {
	height: 40vh;
	width: 100%;
	position: relative;
}
#headingtxt .elem {
	height: 55vh;
	width: 19.8vw;
	/* background-color: red; */
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	/* pointer-events: none; */
}
.elem h1 {
	font-size: 4vw;
	font-family: Gloss And Bloom, Gilroy, Times;
	font-weight: 900;
	-webkit-text-stroke: 2px #fef3f8;
	color: transparent;
	pointer-events: none;
	mix-blend-mode: difference;
}
.elem img {
	position: absolute;
	height: 16vw;
	width: 16vw;
	border-radius: 50%;
	z-index: -1;
	transform: scale(0);
	pointer-events: none;
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
	opacity: 0;
}
.elem .overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0%;
	background-color: #00000000;
	cursor: none;
}

/* #topcnt p {
	font-size: 4vw;
	font-weight: 900;
	position: absolute;
	white-space: nowrap;
	top: 2%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 5;
	color: transparent;
	/* color: #eceff1; 
	font-family: Gloss And Bloom;
	letter-spacing: 0.23vw;
	-webkit-text-stroke: 1px #eceff1;
} */

/* swiper js code styling starts */
#topcnt .swiper {
	width: 100%;
	height: 100%;
	pointer-events: none;
	/* background-color: blue; */
}
#topcnt .swiper .swiper-wrapper .swiper-slide {
	height: 100%;
	width: 100%;
	/* background-color: red; */
	object-fit: 100% 50%;
	object-position: bottom;
}
#topcnt .swiper-slide img {
	width: 100%;
	height: 100%;
}
#topcnt .swiper-button-next,
#topcnt .swiper-rtl .swiper-button-prev {
	right: 20px;
	left: auto;
	top: 60%;
	pointer-events: all;
}
#topcnt .swiper-button-prev,
#topcnt .swiper-rtl .swiper-button-next {
	left: 10px;
	right: auto;
	top: 60%;
	pointer-events: all;
}
/* swiper js styling ends */

#home #btmcnt {
	height: 30%;
	width: 80%;
	/* background-color: #d20022; */
	margin: 0vw auto 0vw auto;
	padding: 1vw 0vw;
	position: relative;
}
#btmcnt #cardiv {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2vw;
	/* background-color: blue; */
	/* position: relative; */
}
#cardiv .cards {
	/* position: absolute; */
	height: 100%;
	width: calc(100% / 4);
	background-color: yellow;
	z-index: 4;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-size: cover;
	background-position: center;
	border-radius: 1vw;
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
}
#cardiv .cards:hover {
	position: relative;
	top: -25%;
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 3s;
}
#cardiv #card1 {
	background-image: url(./images/card1bg.jpeg);
}
#cardiv #card2 {
	background-image: url(./images/restaurent1.jpg);
}
#cardiv #card3 {
	background-image: url(./images/table.jpg);
}
#cardiv #card4 {
	background-image: url(./images/foodorder.jpg);
	/* position: relative;
	top: -25%; */
}
/* section2 */
#section1 {
	width: 100%;
	margin-top: 18vw;
	/* padding-top: 12vw; */
	/* height: 100vh; */
	/* background-color: #2d2420; */
}
#section1 #food {
	margin: 0 auto;
	height: 100vh;
	width: 80%;
	background-color: #f4eddf;
	display: flex;
	align-items: center;
	justify-content: center;
}
#foodleft {
	height: 100%;
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	row-gap: 3vw;
}
#foodleft p {
	font-size: 1.7vw;
	width: 70%;
	line-height: 1;
	font-family: Gilroy;
	color: #cba0b3;
	font-weight: 900;
}
#foodleft #ser {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	height: 10vh;
	/* background-color: red; */
	font-size: 1vw;
}
#ser #serl {
	height: 80%;
	width: 38%;
	padding-bottom: 0.5vw;
	/* background-color: #b9f80d; */
	border-bottom: 0.12vw solid #222;
	white-space: nowrap;
}
#ser #serr {
	white-space: nowrap;
	height: 80%;
	width: 38%;
	padding-bottom: 0.5vw;
	border-bottom: 0.12vw solid #222;
	/* background-color: #b9f80d; */
}
#food #foodleft img {
	width: 70%;
	margin-top: 3vw;
	height: 30%;
}
#food img {
	height: 100%;
	width: 30%;
}
#foodright {
	height: 100%;
	width: 40%;
	/* background-color: blue; */
}
#foodright .swiper {
	width: 100%;
	/* background-color: red; */
	height: 100%;
	z-index: 8;
}
#foodright .swiper .swiper-wrapper {
	height: 100%;
	width: 100%;
	/* background-color: burlywood; */
}
#foodright .swiper .swiper-wrapper .swiper-slide {
	height: 33%;
	width: 100%;
	object-fit: cover;
	box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: self-start;
	/* filter: blur(4px); */
}

#foodright .swiper .swiper-wrapper .swiper-slide img {
	width: 100%;
	height: 100%;
}
#foodright .swiper-button-next,
#foodright .swiper-rtl .swiper-button-prev {
	right: 20px;
	left: auto;
	top: 50%;
	pointer-events: all;
}
#foodright .swiper-button-prev,
#foodright .swiper-rtl .swiper-button-next {
	left: 10px;
	right: auto;
	top: 50%;
	pointer-events: all;
}

/* section 2 stying */

#page2 {
	position: relative;
	/* background-color: #2d2420; */
	min-height: 70vh;
	padding-bottom: 5vh;
	padding-top: 11vw;
	color: #fef3f8;
}

#page2 h1 {
	transform: rotateX(270deg);
	opacity: 0;
	font-size: 4vw;
	font-weight: 500;
	width: 80%;
	margin: 0 auto;
	transform-origin: left bottom;
	text-align: center;
}
/* #page2 h1:nth-child(1) {
	 width: 64%; 
}  */
#page2 h1:nth-child(3) {
	width: 67%;
	font-size: 3.8vw;
}
#page2 h1:nth-child(3) span {
	font-family: "dancing script";
	font-weight: 900;
	font-size: 4.4vw;
}
#page2 h1:nth-child(4) {
	font-family: "dancing script";
	font-weight: 900;
	width: 60%;
	font-size: 4.5vw;
	margin: 0 auto;
}

/* section 3 styling */
#section3 {
	height: 140vh;
	width: 100%;
	/* background-color: #2d2420; */
	/* background-color: red; */
	position: relative;
	/* margin-bottom: 6vw; */
}
#part2 {
	height: 100%;
	/* background-color: #2d2420; */
	position: relative;
	padding: 10vh 6vw;
}
#part2 #line {
	height: 2px;
	width: 20%;
	background-color: #adadad;
	color: #fef3f8;
}
#part2 .card {
	position: absolute;
	top: 50%;
	left: 25%;
	z-index: 1;
	transform: translate(-50%, -50%);
	height: 300px;
	width: 250px;
	border-radius: 20px;
	color: black;
	padding: 20px 25px;
	opacity: 0;
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 4s;
	text-transform: uppercase;
	background-size: cover;
	background-position: center;
}
.mangocard {
	background-color: rgb(255, 208, 0);
	background-image: url(./images/fruits.gif);
}
.bananacard {
	background-color: rgb(233, 255, 34);
	background-image: url(./images/food1.gif);
}
.pinecard {
	background-color: rgb(0, 255, 170);
	background-image: url(./images/juices.jpeg);
}
.pithayacard {
	background-color: rgb(255, 34, 119);
	background-image: url(./images/mexican\ grill.gif);
}
.card h2 {
	font-size: 33px;
	font-weight: 100;
}
.card h3 {
	font-size: 15px;
	position: absolute;
	top: 80%;
}
#line h6 {
	text-transform: uppercase;
	font-size: 11px;
	position: absolute;
	left: 22vw;
	top: 8vh;
}
.fruit {
	display: flex;
	align-items: flex-start;
	margin: 4vh 0;
	/* background-color: red; */
	position: relative;
	cursor: pointer;
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
.fruit h5 {
	font-family: "havelock titling";
	font-size: 15px;
	color: #fef3f8;
}
.fruit h1 {
	font-family: "havelock titling";
	font-size: 4.9vw;
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
	margin-left: 12vw;
	text-align: left;
	position: relative;
	z-index: 99;
	font-weight: 700;
	letter-spacing: -0.6vw;
	-webkit-text-stroke: 1px #cecece;
}
.fruit:hover h1 {
	color: #232025;
}
.fruit:hover p {
	opacity: 1;
}
.fruit p {
	position: absolute;
	right: 0;
	font-weight: 900;
	font-size: 65px;
	color: #fef3f8;
	opacity: 0;
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 1.3s;
}
#mango {
	margin-top: 12vh;
}
/* section 4 styling starts */
#section4 {
	height: 120vh;
	width: 100%;
	/* background-color: #2d2420; */
	border-top: 0.1vw solid transparent;
	overflow: hidden;
}
#section4 > h1 {
	font-size: 3vw;
	font-family: Gilroy;
	font-weight: 700;
	margin-top: 2.3vw;
	margin-left: 9vw;
	color: #fef3f8;
}
#section4 #booking {
	width: 80%;
	margin: 3vw auto;
	height: 80%;
	/* background-color: blue; */
	/* display: flex; */
}
#booking #tophead {
	height: 10%;
	width: 100%;
	/* background-color: yellow; */
	border: 0.1vw solid #333;
	display: flex;
}
#tophead #top-l {
	height: 100%;
	/* width: calc(100% / 3); */
	width: 40%;
	border-right: 0.1vw solid #333;
	background-color: #f0f0f0;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
#tophead h2 {
	font-size: 2vw;
	font-weight: 700;
	color: #424;
	margin-left: 2vw;
}
#tophead #top-m {
	height: 100%;
	/* width: calc(100% / 3); */
	width: 30%;
	border-right: 0.1vw solid #333;
	background-color: #f0f0f0;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
#tophead #top-r {
	height: 100%;
	/* width: calc(100% / 3); */
	width: 30%;
	/* border-right: .1vw solid #dadada; */
	background-color: #f0f0f0;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
#booking #btmcnt {
	height: 90%;
	border: 0.1vw solid #333;
	width: 100%;
	background-color: #f0f0f0;
	display: flex;
}
#btmcnt #btm-l {
	/* width: calc(100% / 3); */
	width: 40%;
	height: 100%;
	border-right: 0.1vw solid #333;
	display: block;
	overflow-x: hidden;
	overflow-y: scroll;
}
#btm-l .roomdiv {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	row-gap: 1vw;
}
#btm-l::-webkit-scrollbar {
	display: none;
}
.roomdiv img {
	height: 40%;
	width: 99%;
	/* background-color: red; */
}
.roomdiv .info {
	height: 55%;
	width: 99%;
	/* background-color: aqua; */
}
.info h3 {
	font-size: 2.5vw;
	margin-top: 1.3vw;
	margin-left: 1vw;
	margin-bottom: 0.2vw;
}
.info h4 {
	font-size: 1.5vw;
	margin-left: 1vw;
	margin-bottom: 1.3vw;
	opacity: 0.6;
}
.info h5 {
	font-size: 1.8vw;
	margin-left: 1vw;
	margin-bottom: 1.5vw;
	opacity: 0.7;
}
.info p {
	font-size: 1.5vw;
	margin-left: 1vw;
	opacity: 0.5;
}
#btmcnt #btm-m {
	/* width: calc(100% / 3); */
	width: 30%;
	height: 100%;
	border-right: 0.1vw solid #333;
	display: block;
	overflow-x: hidden;
	overflow-y: scroll;
}
#btm-m::-webkit-scrollbar {
	display: none;
}
#btm-m .details {
	height: 98%;
	width: 97%;
	/* background-color: blue; */
	border: 0.13vw solid #343;
	margin: auto auto;
	padding-left: 2vw;
	margin-top: 0.23vw;
}
.details h2 {
	font-size: 1.5vw;
	margin-top: 1.2vw;
}
.details ul {
	margin-top: 3vw;
}
.details ul li {
	list-style: none;
	color: rgb(64, 61, 61);
	font-size: 1.5vw;
	font-weight: 700;
	line-height: 1.2;
	letter-spacing: 0.1vw;
	margin-bottom: 1vw;
}
#btmcnt #btm-r {
	/* width: calc(100% / 3); */
	width: 30%;
	height: 100%;
	display: block;
	overflow-x: hidden;
	overflow-y: scroll;
}
#btm-r::-webkit-scrollbar {
	display: none;
}
#btm-r .price {
	height: 98%;
	width: 97%;
	background-color: black;
	border: 0.13vw solid #343;
	margin: auto auto;
	padding-left: 2vw;
	margin-top: 0.23vw;
	display: flex;
	/* color: #fef3f8; */
	align-items: center;
	justify-content: center;
	flex-direction: column;
	row-gap: 2vw;
}
.price h1 {
	font-size: 2.6vw;
	/* margin-top: 2vw; */
	color: #fef3f8;
}
.price h3 {
	color: #fef3f8;
	font-size: 1.8vw;
}
.price p {
	color: #fef3f8;
	font-size: 1.4vw;
}

/* animated button */
.price .btn {
	height: 20%;
	width: 100%;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
}
@import url("https://fonts.googleapis.com/css?family=Raleway");

*,
*::before,
*::after {
	box-sizing: border-box;
}

.glowing-btn {
	position: relative;
	color: var(--glow-color);
	cursor: pointer;
	padding: 0.35em 1em;
	border: 0.15em solid var(--glow-color);
	border-radius: 0.45em;
	background: none;
	perspective: 2em;
	font-family: "Raleway", sans-serif;
	font-size: 1.3em;
	font-weight: 900;
	letter-spacing: 1em;

	-webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color), 0px 0px 0.5em 0px var(--glow-color);
	-moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color), 0px 0px 0.5em 0px var(--glow-color);
	box-shadow: inset 0px 0px 0.5em 0px var(--glow-color), 0px 0px 0.5em 0px var(--glow-color);
	animation: border-flicker 2s linear infinite;
}

.glowing-txt {
	float: left;
	margin-right: -0.8em;
	-webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
	-moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
	text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
	animation: text-flicker 3s linear infinite;
}

.faulty-letter {
	opacity: 0.5;
	animation: faulty-flicker 2s linear infinite;
}

.glowing-btn::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0.7;
	filter: blur(1em);
	transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
	background: var(--glow-color);
	pointer-events: none;
}

.glowing-btn::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	z-index: -1;
	background-color: var(--glow-color);
	box-shadow: 0 0 2em 0.2em var(--glow-color);
	transition: opacity 100ms linear;
}

.glowing-btn:hover {
	color: rgba(0, 0, 0, 0.8);
	text-shadow: none;
	animation: none;
}

.glowing-btn:hover .glowing-txt {
	animation: none;
}

.glowing-btn:hover .faulty-letter {
	animation: none;
	text-shadow: none;
	opacity: 1;
}

.glowing-btn:hover:before {
	filter: blur(1.5em);
	opacity: 1;
}

.glowing-btn:hover:after {
	opacity: 1;
}

@keyframes faulty-flicker {
	0% {
		opacity: 0.1;
	}
	2% {
		opacity: 0.1;
	}
	4% {
		opacity: 0.5;
	}
	19% {
		opacity: 0.5;
	}
	21% {
		opacity: 0.1;
	}
	23% {
		opacity: 1;
	}
	80% {
		opacity: 0.5;
	}
	83% {
		opacity: 0.4;
	}

	87% {
		opacity: 1;
	}
}

@keyframes text-flicker {
	0% {
		opacity: 0.1;
	}

	2% {
		opacity: 1;
	}

	8% {
		opacity: 0.1;
	}

	9% {
		opacity: 1;
	}

	12% {
		opacity: 0.1;
	}
	20% {
		opacity: 1;
	}
	25% {
		opacity: 0.3;
	}
	30% {
		opacity: 1;
	}

	70% {
		opacity: 0.7;
	}
	72% {
		opacity: 0.2;
	}

	77% {
		opacity: 0.9;
	}
	100% {
		opacity: 0.9;
	}
}

@keyframes border-flicker {
	0% {
		opacity: 0.1;
	}
	2% {
		opacity: 1;
	}
	4% {
		opacity: 0.1;
	}

	8% {
		opacity: 1;
	}
	70% {
		opacity: 0.7;
	}
	100% {
		opacity: 1;
	}
}

/* media query section */

/* width  600px */

@media only screen and (max-width: 600px) {
	.glowing-btn {
		font-size: 1em;
	}
}
/* section 5 */
#section5 {
	height: 150vh;
	width: 100%;
	/* background-color: red; */
	color: #fef3f9;
	position: relative;
	overflow: hidden;
}
.reveal .parent {
	display: flex;
	justify-content: center;
	width: 100%;
	overflow-y: hidden;
}
.child span {
	display: inline-block;
}
.reveal .parent .child {
	display: block;
}
#section5 > h1 {
	font-size: 5vw;
	font-weight: 800;
	margin-left: 3vw;
	margin-top: 2vw;
	margin-bottom: 2vw;
	font-family: Gilroy;
}
#section5 #foodscroller {
	/* height: 26%; */
	height: 40vh;
	width: 100%;
	display: block;
	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: scroll;
	/* background-color: #b9f80d; */
}
#foodscroller::-webkit-scrollbar {
	display: none;
}
#foodscroller #empty {
	height: 100%;
	width: 100%;
	display: inline-block;
	background-color: transparent;
}
#foodscroller .fooddiv {
	/* transform: translateX(-1650%); */
	height: 100%;
	width: 24%;
	margin: auto 4vw;
	background-color: #cba0b3;
	display: inline-block;
	object-fit: cover;
	object-position: center;
}
.fooddiv img {
	width: 100%;
	height: 100%;
}
#orderbtn {
	height: 4vw;
	width: 4vw;
	background-color: #dfd0df;
	position: absolute;
	bottom: 10%;
	left: 3%;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #000;
	font-size: 1vw;
	font-family: Gloss And Bloom;
	/* transform: scale(3); */
	object-fit: cover;
	background-image: url(./images/healthy.gif);
	background-size: cover;
	background-position: center;
}

#overlay6 {
	height: 110vh;
	width: 100%;
	opacity: 0;
	/* display: none; */
	background-color: red;
	z-index: 3;
	/* display: flex; */
	/* object-fit: cover; */
	/* object-position: center; */
	position: absolute;
	bottom: 0%;
	left: 0;
}
/* section 6 starts */
#section6 {
	height: 140vh;
	width: 100%;
	background-color: #dfd0df;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
#section6 #leftbar {
	height: 90%;
	width: 7%;
	background-color: #045783;
	border-radius: 8vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
}
#leftbar #lt {
	width: 100%;
	height: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fef3f834;
}
#lt img {
	height: 80%;
}
#leftbar #lm {
	width: 60%;
	height: 60%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	border-bottom: 1px solid #e6dede;
}
#lm i {
	font-size: 2.6vw;
	color: rgb(195, 174, 177);
}
#leftbar #lb {
	width: 100%;
	height: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#section6 #middlecnt {
	height: 90%;
	width: 60%;
	background-color: #d0f2fe;
	border-radius: 4vw;
	overflow: hidden;
}
#section6 #rightorder {
	height: 90%;
	width: 20%;
	/* background-color: blue; */
	/* border-radius: 4vw; */
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
}
#rightorder #del1 {
	height: 47%;
	width: 100%;
	/* background-image: url(./images/del1.png); */
	border-radius: 5vw;
	background-color: #d0f2fe;
}

#del1 img {
	/* height: 10%; */
	width: 60%;
	display: block;
	margin: 1vw auto;
	border-radius: 4vw;
	margin-bottom: 1vw;
	transform: translateZ(40px);
}
#del1 h3 {
	font-size: 1.6vw;
	white-space: nowrap;
	font-weight: 900;
	color: #222;
	width: 80%;
	margin: 0 auto;
}
#del1 #reaction {
	/* background-color: red; */
	margin-top: 0.7vw;
	height: 8%;
	width: 100%;
	display: flex;
	font-size: 1.7vw;
	align-items: center;
	justify-content: space-evenly;
}
#del1 > p {
	font-size: 0.8vw;
	width: 90%;
	margin: 0.7vw auto;
	font-weight: 500;
	opacity: 0.7;
	color: #222;
	margin-top: 1vw;
	text-align: center;
	line-height: 1;
}
#rightorder a {
	position: relative;
	background-color: salmon;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1vw;
	letter-spacing: 0.26vw;
	padding: 0.6vw 0.5vw;
	width: 70%;
	display: block;
	text-align: center;
	/* left: 50%; */
	/* transform: translate(-50%, -50%); */
	margin: 0 auto;
}
#rightorder a:hover {
	letter-spacing: 0.4vw;
	background: var(--clr);
	color: var(--clr);
	box-shadow: 0 0 35px var(--clr);
}
#rightorder a::before {
	content: "";
	position: absolute;
	inset: 2px;
	/* background: #27282c; */
	background: var(--glow-color);
}
#rightorder a span {
	position: relative;
	z-index: 2;
}
#rightorder a i {
	position: absolute;
	inset: 0;
	display: block;
}
#rightorder a i::before {
	content: "";
	position: absolute;
	left: 80%;
	top: -3.5px;
	background: #27282c;
	width: 10px;
	transform: translate(-50%);
	height: 0.01px;
	border: 2px solid var(--clr);
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}
#rightorder a:hover i::before {
	width: 20px;
	left: 20%;
}
#rightorder a i::after {
	content: "";
	position: absolute;
	left: 20%;
	transform: translate(-50%);
	bottom: -3.5px;
	background: #27282c;
	width: 10px;
	height: 0.01px;
	border: 2px solid var(--clr);
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}
#rightorder a:hover i::after {
	width: 20px;
	left: 80%;
}
/* #045783 */
/* #D0F2FE */

/* del2 div */
#rightorder #del2 {
	height: 47%;
	width: 100%;
	background-size: cover;
	background-position: center;
	/* background-image: url(./images/del1.png); */
	border-radius: 4vw;
	background-color: #d0f2fe;
}
#del2 img {
	width: 80%;
	display: block;
	margin: 0 auto;
	margin-bottom: 1vw;
}
#del2 p {
	font-size: 1.4vw;
	width: 80%;
	margin: 0 auto;
	font-weight: 600;
	opacity: 0.7;
	font-family: Ogg Gilroy;
	margin-bottom: 1.4vw;
}
/* middle container styling */
#middlecnt #mdnav {
	height: 14%;
	width: 100%;
	/* background-color: red; */
	display: flex;
	align-items: center;
	justify-content: space-around;
}
#mdnav #nl {
	height: 100%;
	width: 30%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	/* background-color: blue; */
}
#nl h2 {
	font-size: 1.6vw;
	opacity: 0.6;
	margin-left: 1vw;
	font-family: Gloss And Bloom;
}
#nl h1 {
	font-size: 1.6vw;
	white-space: nowrap;
	font-family: Gilroy;
	line-height: 0.5;
	width: 90%;
	margin: 0 auto;
}
#mdnav input {
	padding: 0.6vw 0.7vw;
	height: 38%;
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 1.4vw;
	font-weight: 800;
	color: grey;
	border: none;
	outline: none;
	/* background-color: transparent; */
	border: 0.08vw solid #111;
	transform: skew(7deg);
}
#mdnav input::placeholder {
	font-size: 1.3vw;
	color: salmon;
	font-weight: 700;
	opacity: 0.5;
}
#mdnav i {
	font-size: 1.9vw;
	color: #045783;
}
/* display */
#middlecnt #display {
	height: 20%;
	width: 90%;
	margin: 1vw auto;
	background-color: #045783;
	border-radius: 2vw;
	overflow: hidden;
	display: flex;
}
#display #dleft {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 1vw;
	align-items: flex-start;
	padding: 0 2vw;
	padding-left: 1.5vw;
}
#dleft h3 {
	font-size: 1.5vw;
	width: 60%;
	color: #fef3f9;
	font-family: Gilroy;
}
#dleft h1 {
	color: #fff;
	font-size: 1, 8vw;
	font-weight: 900;
	font-family: Gilroy;
}
#display #dright {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-end;
	padding-right: 2vw;
	padding-left: 1.5vw;
}
#dright img {
	width: 80%;
}
/* category */

#category {
	height: 17%;
	width: 90%;
	margin: 1vw auto;
	/* background-color: red; */
}
#category h1 {
	font-size: 1.8vw;
	margin-left: 1vw;
	font-family: Gilroy;
	color: #111;
}
#category #choice {
	height: 80%;
	width: 100%;
	/* background-color: blue; */
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
#category .item {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5vw;
	/* border: 1px solid ; */
	border-radius: 0.7vw;
	height: 50%;
	width: 16%;
	background-color: #fef3f9;
}
#category .item:hover {
	background-color: salmon;
}
.item i {
	font-size: 1.6vw;
	color: brown;
}
#middlecnt > h1 {
	font-size: 1.8vw;
	font-weight: 800;
	font-family: Ogg, Gilroy;
	margin: 1vw 4vw;
}
#middlecnt #food {
	overflow-y: hidden;
	overflow-x: scroll;
	justify-content: space-around;
	height: 35%;
	width: 100%;
	white-space: nowrap;
}
#food::-webkit-scrollbar {
	display: none;
}
#food .foody {
	display: inline-block;
	height: 90%;
	width: 25%;
	border-radius: 2vw;
	margin: 1vw 2vw;
	/* background-color: #fef3f8; */
	object-fit: cover;
	object-position: center;
	position: relative;
	background-size: cover;
	/* background-position: center; */
	background-image: url(./images/rubber-background-2.gif);
}
#food .foody img {
	width: 90%;
	height: 100%;
	display: block;
	margin: 0 auto;
	height: auto;
	margin-top: 0.6vw;
	/* background-color: grey; */
	/* margin-bottom: 1vw; */
}
#food .foody p {
	position: absolute;
	bottom: 25%;
	left: 50%;
	transform: translate(-50%, 0);
	font-size: 1.6vw;
	font-weight: 900;
	font-family: Gilroy;
}
#food .foody:hover {
	background-color: #fef3f9;
}
/* footer */
#footer {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	min-height: 40vh;
	background: rgb(63, 2, 27);
}
footer {
	position: relative;
	width: 100%;
	background: #0a8ea6;
	min-height: 100px;
	padding: 20px 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
footer .icons,
footer .timeline {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0;
	flex-wrap: wrap;
}
footer .icons li,
footer .timeline li {
	list-style: none;
}

footer .icons li a {
	font-size: 2.98em;
	color: #9efcff;
	margin: 0 10px;
	display: inline-block;
	transition: 0.8s;
}
footer .icons li a:hover {
	transform: translateY(-15px);
}
footer .timeline li a {
	font-size: 1.9em;
	color: #fff;
	margin: 0 10px;
	display: inline-block;
	transition: 0.8s;
	text-decoration: none;
	opacity: 0.8;
	font-weight: 400;
}
footer .timeline li a:hover {
	opacity: 1;
}
footer p {
	color: #fff;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 1.9em;
}
